<section class="space--xs imagebg" style="background-color: #333;">
    <div class="container">
        <div class="row">
            <div class="cta cta--horizontal text-center-xs">
                <div class="col-sm-4" style="color: #efe">
                    @*<h4>反馈建议</h4>*@
                </div>
                <div class="col-sm-5">
                    <p class="lead" style="color: #efe">
                        加入土豪去哪官方群，与广大影迷交流
                    </p>
                </div>
                <div class="col-sm-3 text-right text-center-xs">
                    <a class="btn btn--primary-1 type--uppercase" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=046162de5a3e4a002806620e4d3b73cdb21518ee2bb2dba5e87edc47f09cb234">
                        <span class="btn__text">
                            立即加入QQ群
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="space--sm footer-2 bg--dark ">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1262999256'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1262999256%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                <span class="type--fine-print">
                    &copy;
                    <span class="update-year"></span> tuhaoquna.com
                </span>
            </div>
            @*<div class="col-sm-6 text-right text-left-xs">
                    <ul class="social-list list-inline list--hover">
                        <li><a href="http://www.btdx8.com/" target="_blank">BT天堂</a></li>
                        <li><a href="http://www.mp4la.net/" target="_blank">MP4Ba</a></li>
                        <li><a href="http://www.n3k.net/" target="_blank">lol电影天堂</a></li>
                        <li><a href="http://www.tongbuyy.com/" target="_blank">同步影院</a></li>
                        <li><a href="http://mebook.cc/" target="_blank">小书屋</a></li>
                    </ul>
                </div>*@
        </div>
    </div>
</footer>