<div class="notification pos-top pos-right search-box bg--semi border--bottom" data-animation="from-top" data-notification-link="search-box">
    <form action="/search" method="post">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <input type="search" name="q" placeholder="输入关键词并按下Enter键搜索 电影条目" />
                <input type="hidden" name="celebrity" value="0">
                <input type="hidden" name="page" value="1" />
            </div>
        </div>

    </form>
</div>