
@{
    ViewBag.Title = "帮助";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-9" style="width:660px">
        <div class="row">
            <h3>帮助</h3>
            <hr>
            <p><strong>声明：本站作为高清资源聚合网站，我们不提供任何影视的上传、下载、存储、播放，版权归属原电影公司，本站只是兴趣及技术研究对电影影评网、磁力链搜索引擎、高清字幕网、及种子缓存网站进行自动化及智能化匹配，其它相关问题请联系我们。</strong><br><br><br>对于高清电影新手请通读以下的问答，下面有你要的绝大部分问题的答案，也可以用“Ctrl+F”输入关键词进行相关问题搜索！或者加入<strong>QQ群：549497076</strong> 进群内咨询。入群暗号：嘀嘀嘀<br><br><br>Q：网站怎么无法访问？<br>A：联通或电信可能是网站或者自己本身网络暂时故障，移动或长城网络请用 <a href="http://tuhaoquna.com">http://tuhaoquna.com</a> 进行访问！<br><br><br>Q：电影怎么下载？<br>A：安装支持磁力链接和BT种子的软件如：迅雷、旋风等，对于无法高速通道的“特殊”种子可以使用uTorrent，安全无插件下载地址：pan.baidu.com/s/1i5klI1f<br><br><br>Q：电影怎么不下载直接在线播放？<br>A：可以把种子或者磁力链放在百度网盘、115网盘或者迅雷进行离线，然后进行在线播放！<br><br><br>Q：怎么下载那么慢？<br>A：最新电影就这样，慢慢下就是了，嫌慢等两天天离线完成了再下，热门很快就可以离线秒的，特别建议使用迅雷VIP！<br><br><br>Q：迅雷怎么有时候下载到99.9%停止没有速度了？<br>A：建议重新暂停再开始，或者对于单文件直接修改下载视频文件的后缀为mkv，好像不影响播放！<br><br><br>Q：怎么有的让联系磁力链接无法下载让联系客服？<br>A：一般都是版权方要求或者其他特殊原因暂时取消屏蔽，为了你我他请理解与支持，如果特别需要请加QQ群：549497076 联系群内管理员寻求帮助。<br><br><br><strong></strong></p><p style="color:red;"><strong>Q：电影那么多版本都我该选哪个？<br>A：你如果问这样的问题那就没必要讲究下哪个了，根据你的网速、硬盘、离线度等选择最适合你大小的就行了，但我还是要说一下，质量从高到低如下：<br>Bluray≥Remux&gt;1080P&gt;720P&gt;HDTV（WEBDL）&gt;WEBRIP&gt;(DVDSCR、TS、HDCAM、TC等)，对于制作组除了0day制作组（常见SPARKS、AMIABLE、ROVERS等一般只追求速度不追求质量）其他的（WiKi、CHD、HDWing、RARBG、PublicHD等）质量更好一点。<br>简单的说：新手或笔记本或手机下WEB-DL、720P的就可以不用讲究制作组选3G-5G的；<br>中级大屏电脑、电视下1080P或Remux选WiKi、MTeam、RARBG等10G左右的；<br>终极或收藏下Remux或AVC原盘或DIY的原盘30G左右的。<br>切记：对于半年前一年前的老电影请务必使用迅雷VIP或115、百度网盘最好是VIP且可以离线完成的，有些文件名虽然一模一样但并不是都可以离线完成的。</strong></p><br>Q：电影种子的怎么都是英文的？<br>A：高清电影命名在“国际上”有通用的规则，其大致命名规则示例如下：<br>[The.Remaining].[2014].[1080p].[BluRay].[REMUX].[AVC].[DTS-HD].[MA.5.1]-[RARBG]<br>[中文电影名称].[年代].[分辨率].[介 质].[编 码].[视频].[音  频].[声  道]-[制作组]<br><br><br>Q：电影有其他加长版、导演剪辑版等其他特殊版本吗？<br>A：对种子名称中有特别字段对各种版本进行了标记，如下：DC=Director Cut=导演剪辑版；EXTENDED Edition=EXTENDED=EE=电影加长版；BONUS=电影花絮；2Audio=DualAudio、3Audio、4Audio带国语的多条音轨（如：国粤英日）；PROPER=修正版（原来的可能有瑕疵）；Remastered=重制版。<br><br><br>Q：外挂字幕怎么使用？<br>A：以播放器PotPlayer为例，以下三种方法都可以：<br>①.打开视频，将本字幕拖入播放器播放窗口内。<br>②.打开视频，右键打开播放器选项——打开——打开字幕——选择本字幕。<br>③.将字幕和片源放入同一文件夹内，名字改为一致，打开视频则会自动加载字幕。<br><br><br>Q：有没有上下或者左右3D的字幕？字幕无法显示3D怎么办？<br>A：参考百度经验:jingyan.baidu.com/article/546ae1854a01e21148f28c75.html 或 jingyan.baidu.com/article/3ea514891f738552e61bba80.html 的方法试试看吧！<br><br><br>Q：下载的高清用什么播放器播放？<br>A：电脑一般重编码用POTPlayer（重编码），原盘用TMT或PowerDVD（ISO原盘请先用虚拟光驱加载一下），其他相关电视盒子或播放器硬件设备请咨询相关客服。懒省事的话可以用射手或迅雷播放器可以自动在线加载字幕！<br><br><br>Q：为什么有些磁力链几天都下不完？<br>A：BT有时候就是这样，过时的资源很可能就没有速度甚至无法下载完成，特别对文件夹式的原盘更是很难保证后期能正常下载完整，同样请选择迅雷、旋风、网盘等已经可以离线完成的下载。<br><br><br><strong><p style="color:red;">Q：有些电影没有字幕怎么办？还有些字幕那么多下载地址该下哪个？我下载的字幕怎么跟视频不对应不是快了就是慢了？<br>A：对于新电影字幕我们会尽量及时更新，起码可以保证大片的字幕更新，常回来关注更新即可。对于多字幕只需要选择对应的时间轴版本（视频带Bluray 、HDTV、WEB-DL或者WEBRip的就选字幕中对应含有Bluray、HDTV、WEB-DL和WEBRip的），记住字幕绝大部分只跟括号中的关键词有关，跟720P或者1080P没有关系。要想播放器加载字幕必需保证字幕与视频文件名相同，或者用迅雷播放器在线匹配。</p></strong><br><br><br>Q：迅雷无法下载磁力链，一直失败怎么回事？<br>A：迅雷自身问题吧，可能是上市的“后遗症”，多尝试几次截至到现在应该没多大问题了，也可以尝试用QQ旋风下载种子，或下载时其他文件不要选择下载只选取视频文件。<br><br><br>Q：有些电影登陆后还是无法下载，怎么办？<br>A：登陆后无法下载的电影，请加本站<strong>QQ群：549497076</strong>联系客服，热心的客服MM会帮你解决问题。<br><br><br>Q：其它问题：如怎么跟站长联系？我可以捐赠网站吗？<br>A：可以进QQ群：549497076（进群验证“嘀嘀嘀”），或者直接在下面留言我们会定期解答！<p></p>
            
        </div>
    </div>
    <!-- 左边内容 -->
    @{Html.RenderPartial("~/Views/Shared/_Right.cshtml");}
</div>
