@using Utility
@model List<Model.GaoQing.Country>
@{
    string country = Request.QueryString["country"];
    var country_obj = Model.FirstOrDefault(m => m.ID == Utility.Utils.StrToInt(country, 0));
}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@(country_obj == null ? "地区" : country_obj.Name)<b class="caret"></b></a>
    <ul class="dropdown-menu" style="width:860px">
        <li style="width:170px"><a tabindex="-1" href="/@(Request.GetAppend(new Dictionary<string, string>() { { "country","" } }))">不限</a></li>
        @foreach (var item in Model)
        {
            <li style="width:170px;float:left"><a tabindex="-1" href="/@(Request.GetAppend(new Dictionary<string, string>() { { "country",item.ID.ToString() } }))">@item.Name</a></li>
        }
    </ul>
</li>