@{
    if (!Request.Browser.IsMobileDevice)
    {
        Response.Redirect(Utility.ConfigHelper.GetAppSettings("PCWebSite"));
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>土豪去哪</title>
</head>
<body>
    <div id="content"></div>
    <script type="text/javascript" src="/bundle.js"></script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1262999256'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1262999256%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>