<div class="col-md-12" style="margin-top:20px;border-top:1px #ccc solid;padding:10px;text-align:center">
    Copyright &copy2017&nbsp;<a href="http://www.tuhaoquna.com" target="_blank">土豪去哪</a>&nbsp;<a href="//shang.qq.com/wpa/qunwpa?idkey=046162de5a3e4a002806620e4d3b73cdb21518ee2bb2dba5e87edc47f09cb234" target="_blank">QQ群:549497076</a>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1262999256'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1262999256%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
