<div id="notice" style="overflow:hidden;height:20px;line-height:20px;margin-left:15px;margin-bottom:5px;background-color:Orange;color:White;margin-top:-10px;">
    <ul style="margin-left:-25px;list-style:none;">
        <li><span class="glyphicon glyphicon-bullhorn"> </span> 欢迎进群交流：<a href="//shang.qq.com/wpa/qunwpa?idkey=046162de5a3e4a002806620e4d3b73cdb21518ee2bb2dba5e87edc47f09cb234" target="_blank">QQ群:549497076</a></li>
        <li><span class="glyphicon glyphicon-cog"> </span> 网站还在建设中。。。有不完善的地方尽请谅解</li>
    </ul>
</div>