<div class="col-md-3" style="padding-left:5px;padding-right:5px;width:310px" id="sidebar">
    @*@{Html.RenderAction("ClassicMovie", "Movie");}*@
    @{Html.RenderAction("ScoreMovie", "Movie");}
    @{Html.RenderAction("HotMovie", "Movie");}
    @*@{Html.RenderAction("UpsetMovie", "Movie");}*@
</div>

