<section class="text-center" style="position: relative;z-index: 9;background:#1a151c;padding: 0 0 3em 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-4" style="padding: 0 10px;">
                    <a href="http://image.bt0.com/screenshot/large/tt0111161.large-screenshot1.jpg" data-lightbox="screenshot"> <img alt="肖申克的救赎 影片截图1" src="http://image.bt0.com/screenshot/tt0111161.medium-screenshot1.jpg" /> </a>
                </div>
                <div class="col-md-4" style="padding: 0 10px;">
                    <a href="http://image.bt0.com/screenshot/large/tt0111161.large-screenshot2.jpg" data-lightbox="screenshot"> <img alt="肖申克的救赎 影片截图2" src="http://image.bt0.com/screenshot/tt0111161.medium-screenshot2.jpg" /> </a>
                </div>
                <div class="col-md-4" style="padding: 0 10px;">
                    <a href="http://image.bt0.com/screenshot/large/tt0111161.large-screenshot3.jpg" data-lightbox="screenshot"> <img alt="肖申克的救赎 影片截图3" src="http://image.bt0.com/screenshot/tt0111161.medium-screenshot3.jpg" /> </a>
                </div>
            </div>
        </div>
    </div>
</section>
